




############################################################################################################################
##
## SPOOLMAN
##
############################################################################################################################
[gcode_shell_command qr_spoolman_scan]
command: /home/zeroshin/spoolman-scanner-env/bin/python3 /home/zeroshin/klipper-kconfigs/spoolman_scanner.py
timeout: 20.0
verbose: True

[gcode_macro SCAN_SPOOL_QR]
description: Scan spool QR code - hold QR up to camera then run this
gcode:
    RESPOND MSG="Starting QR scan - hold spool QR up to camera"
    RUN_SHELL_COMMAND CMD=qr_spoolman_scan